#containerBV06 {
    width: 80vw;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

#imgBV06 {
    grid-column: 1 / span 7;
    grid-row: 3 / span 7;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0;
}

#imgPadrao02 {
    width: 550px;
    max-width: 100%;
    height: auto;
    display: block;
}

#containerBV06 .caixaTXT {
    grid-row: 2 / span 8;
    color: var(--color01);
}

.caixaTXT .ttTitulos,
.caixaTXT .ttSubtitulos {
    color: var(--color02);
}

/* ================= RESPONSIVO ================= */

@media screen and (max-width: 768px) {

    #containerBV06 {
        width: 100%; /* Largura total para a imagem encostar nas bordas se necessário */
        min-height: auto;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        padding-bottom: 0; /* Removendo padding para a imagem encostar no final */
    }

    #containerBV06 .caixaTXT {
        order: 1; /* Título e texto primeiro */
        width: 90vw;
        margin: 5rem auto 2rem auto;
        padding: 0 20px;
        align-items: center;
        text-align: center;
    }

    #imgBV06 {
        order: 2; /* Imagem por último */
        grid-column: 1 / span 6;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        margin-top: 0;
        line-height: 0; /* Remove pequenos espaços abaixo da imagem */
    }

    #imgPadrao02 {
        width: 100%;
        max-width: 450px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

/* Tablet */

@media screen and (min-width: 769px) and (max-width: 1180px) {

    #imgPadrao02 {
        width: 480px;
        height: auto;
    }

}