#fundoColorido{
    width: 100%;
    background-color: var(--color05);
}

#containerParceirosBV01{
    width: 80vw;
    height: 77vh;
    margin: 0 auto;
    background-color:var(--color05);
    background-image: url("../IMG/background_bem_vindo3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 5px;
}

#imgBV01{
    grid-column: 1 / span 7;
    grid-row: 3 / span 7; 
    display: flex;
    align-items: flex-end; /* faz a imagem ficar no final vertical da célula */
    justify-content: flex-start; /* ajusta horizontalmente se necessário */
    height: 100%; /* importante para que o flex alinhe até o fundo */
    padding: 0; 
}

#imgLogo03{
    width: 600px;
    max-width: 100%;
    height: auto;
    display: block;
    /* evita margens/padding inesperados que empurram para cima */
    margin: 0;
}


#containerParceirosBV01 .caixaTXT{
    align-items: center;
}

#containerParceirosBV01 h1.ttTitulos{
    font-size: 3rem;
    color: var(--color02);
    margin-top: 2rem;
    text-align: center;
}


#containerParceirosBV01 p.ttPadrao {
  color: var(--color08);
  margin-top: 2rem;
  text-align: center;
}


/* Estilos responsivos para telas menores */

@media screen and (max-width: 768px){
    #containerParceirosBV01{
        width: 90vw;
        height: 800px;
        grid-template-columns: repeat(6, 1fr);
        background-image: url("../IMG/background_bem_vindo_mobile3.png");
        background-position: center;
    }

    #imgBV01{
        grid-column: 1 / span 7;
        grid-row: 5 / span 6;
        justify-content: center;

    }


}