#fundoColorido{
    width: 100%;
    background-color: var(--color05);
}

#containerParceirosBV01{
    width: 80vw;
    height: 77vh;
    margin: 0 auto;
    background-color:var(--color05);
    background-image: url("../IMG/background_bem_vindo3.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 5px;
}

#imgBV01{
    grid-column: 1 / span 6;
    grid-row: 1 / -1; 
    display: flex;
    align-items: flex-end; /* Alterado para a imagem encostar no final */
    justify-content: center; 
    height: 100%; 
    padding: 0; 
}

#imgLogo03{
    width: 450px;
    max-width: 100%;
    max-height: 80%; /* Para garantir que não passe da section */
    object-fit: contain;
    height: auto;
    display: block;
    margin: 0;
}


#containerParceirosBV01 .caixaTXT{
    grid-column: 7 / span 5;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centralizado na vertical */
    align-items: flex-start;
}

#containerParceirosBV01 h1.ttTitulos{
    font-size: 3rem;
    color: var(--color02);
    margin-top: 2rem;
}


#containerParceirosBV01 p.ttPadrao {
  color: var(--color08);
  margin-top: 2rem;
}


/* Estilos responsivos para telas menores */

@media screen and (max-width: 768px){
    #containerParceirosBV01{
        width: 100%;
        min-height: auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        background-image: url("../IMG/background_bem_vindo_mobile3.webp");
        background-position: center;
        padding-bottom: 0;
        padding-top: 30px;
    }

    #imgBV01{
        grid-column: 1 / span 6;
        grid-row: 6 / span 5;
        justify-content: center;
    }

    #containerParceirosBV01 .caixaTXT{
        grid-column: 1 / span 6;
        grid-row: 1 / span 5;
        padding-left: 30px;
        padding-right: 30px;
        align-items: center;
        text-align: center;
    }

}